.day-status-bar {
  padding: 30px 0 0 0;
  display: flex;
  justify-content: center;
  transition: opacity 5s ease-in-out;
}

//.day-status-bar__title {
//  //transition: transform 1s ease-in-out;
//  //transform: translateY(-15px);
//  transition: all 0.3s ease;
//  opacity: 1;
//}

.day-status-bar__title_animated {
  //transition: transform 1s ease-in-out;
  //transform: translateY(-15px);
  transition: opacity 1s ease;
  opacity: .2;
}

.my-node-enter {
  opacity: 0;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 3000ms;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0;
  transition: opacity 3000ms;
}

.day-status-bar__title{
  margin: 0 0 15px 0;
  font-weight: bold;
  font-size: 26px;
  color: hsl(100, 0%, 50%);
}