.carousel{
  //width: 540px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;

  border: 1px dashed blue;

  //transform-style: preserve-3d;
  //perspective: 300px;

  //: 0 auto;
}