.carousel{
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;

  border: 1px dashed blue;

  //transform-style: preserve-3d;
  //perspective: 300px;

  margin: 0 auto;

  overflow: hidden;
  position: relative;
}

//.carousel__view-port{
//  background-color: #a8bbaf;
//  width: 100%;
//  height: 100%;
//  position: absolute;
//  z-index: 1;
//}